{% extends 'base.html'%}

{% block contents %}
<h3 class="mb-5 mt-5">권한 관리 페이지</h3>
<form method="post" action="/myadmin/permissions/">
  {% csrf_token %}
  <div class="row">
    <label for="exampleFormControlInput1">생성 권한</label>
    <select class="form-control" id="create">
      <option value='1' {% ifequal c_perm 1 %}selected{% endifequal %}>User</option>
      <option value='2' {% ifequal c_perm 2 %}selected{% endifequal %}>Admin</option>
      <option value='3' {% ifequal c_perm 3 %}selected{% endifequal %}>Superuser</option>
    </select>
  </div>
    <div class="row">
    <label for="exampleFormControlInput1">읽기 권한</label>
    <select class="form-control" id="read">
      <option value='1' {% ifequal r_perm 2 %}selected{% endifequal %}>User</option>
      <option value='2' {% ifequal r_perm 2 %}selected{% endifequal %}>Admin</option>
      <option value='3' {% ifequal r_perm 2 %}selected{% endifequal %}>Superuser</option>
    </select>
  </div>
    <div class="row">
    <label for="exampleFormControlInput1">수정 권한</label>
    <select class="form-control" id="update">
      <option value='1' {% ifequal u_perm 3 %}selected{% endifequal %}>User</option>
      <option value='2' {% ifequal u_perm 3 %}selected{% endifequal %}>Admin</option>
      <option value='3' {% ifequal u_perm 3 %}selected{% endifequal %}>Superuser</option>
    </select>
  </div>
    <div class="row">
    <label for="exampleFormControlInput1">삭제 권한</label>
    <select class="form-control" id="delete">
      <option value='1' {% ifequal r_perm 4 %}selected{% endifequal %}>User</option>
      <option value='2' {% ifequal r_perm 4 %}selected{% endifequal %}>Admin</option>
      <option value='3' {% ifequal r_perm 4 %}selected{% endifequal %}>Superuser</option>
    </select>
  </div>
  <div class="row">
    <button type="submit" class="btn btn-primary">완료</button>
  </div>
</form>

{% endblock %}